body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.currentPage{
    background-color: #cffebf;
}

header{
    background: #555;
    color: #fff;
    padding: 20px;
}

ul{
   list-style-type: none;
   margin: 0px;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 0px;
   padding-right: 0px;
   background-color: #f1f1f1;
   display: flex;
   flex-direction: row;
}

nav ul li{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

}

nav ul a{
    text-decoration: none!important;
    color: #000;
}

nav ul li:hover{
    background-color: #cffebf;

}

li.currentPage{
    background-color: #a57eac;
}

main{
    flex: 1;
    padding: 20px;

}

.section-header{
    text-align: center;
}

.featured-drinks{
    display: flex;
    justify-content: center;

}

.drink-container{
    display: flex;
}

.drink{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.drink img{
    width: 200px;
    height: 200px;
}

footer{
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #555;
    color: #fff;
}